@charset "utf-8";


/***모바일/테블릿 사이즈 통일 ***/
@media screen and (max-width:1000px) {
/***
  font-size : 7px
  main-width : 80%
  height : auto
  ***/

  /*** layout 변경 ***/

html{
  font-size: 43.7%;
}
main{
  width: 70%;
  min-width: 320px;
  margin: 50px auto;
}
main > header,
main > section,
main > footer{
  height: auto;
}
.mobile-menu{
  display: block;
}
.fix-home{
  display: none;
}
#head > a{
  display: none;
}
#section-1-1 > .icon-btn > i{
width: 50px;
height: 50px;
line-height: 50px;
font-size: 30px;
}
#section-1-2{
  flex-direction: column;
}
#section-1-2 > .item{
  margin-bottom: 20px;
}
#section-1-2 > .item > div{
  width: 320px;
  height: 320px;
}
#section-2 > .item{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-2 > .item > .img
{
  width: 420px;
  height: 320px;
  margin-bottom: 20px;
}
#section-2 > .item > .img2 > div{
  width: 320px;
  height: 320px;
}
#section-3 > .section-3-1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-3 > .section-3-1 > .weekend{
  width: 460px;
  height: 460px;
  margin-bottom: 20px;
}
#section-3 .img{
  width: 460px;
  height: 460px;
}
footer > p:nth-of-type(2){
  font-size: 16rem;
}
}

